<template>
  <div id="app">
    <ContainerView />
  </div>
</template>

<script>
import ContainerView from "./View/ContainerView.vue";

export default {
  name: "app",
  components: {
    ContainerView,
  },
};
</script>

<style>
body,
html {
  height: 100%;
}
</style>
