<template>
  <div>
    <el-container>
      <el-header>
        <span v-if="username == ''">欢迎新用户访问，请先注册</span>
        <span v-else>欢迎{{ username }}使用聊天室 </span>
      </el-header>

      <el-main>
        <div>
          <el-form>
            <el-form-item>
              <el-input
                v-model="msg"
                :placeholder="
                  username == '' ? '请先注册再使用' : '请输入要发送的内容'
                "
                :disabled="username == ''"
              />
            </el-form-item>
            <el-form-item>
              <el-button
                :type="username == '' ? 'warning' : 'primary'"
                :icon="
                  username == ''
                    ? 'el-icon-warning-outline'
                    : 'el-icon-position'
                "
                @click="onSend()"
              >
                {{ this.username == "" ? "注册" : "发送" }}
              </el-button>
            </el-form-item>
          </el-form>

          <el-table
            :data="username == '' ? '' : chatHistory"
            border
            style="width: 100%"
            height="570"
            :empty-text="
              username == '' ? '注册后才可以查看聊天记录' : '聊天记录为空'
            "
          >
            <el-table-column prop="username" label="姓名" width="100">
            </el-table-column>
            <el-table-column prop="msg" label="信息"> </el-table-column>
          </el-table>
        </div>
      </el-main>
    </el-container>
  </div>
</template>


<script>
import axios from "axios";

export default {
  mounted() {
    console.log("Vue instance has been mounted, retriving data:");

    // 从LocalStorage中恢复状态信息：
    this.token = localStorage.getItem("token");
    this.username = localStorage.getItem("username");
    this.sid = localStorage.getItem("sid");
    this.exp = localStorage.getItem("exp");

    console.log("从LocalStorage中恢复状态信息:");
    console.log("  username:     " + this.username);
    console.log("  sid:          " + this.sid);
    console.log("  exp:          " + this.exp);
    console.log("  token:        " + this.token);

    // 首先获取当前时间的UNIX时间戳
    const currentUnixTimeStamp = Date.now() / 1000;
    console.log("当前时间戳：\t" + currentUnixTimeStamp);
    console.log("JWT过期时间:\t" + this.exp);

    // 判断token是否过期，若过期则清空username
    if (currentUnixTimeStamp >= this.exp) {
      console.log("用户" + this.username + " 的JWT 已过期，需要重新登录");
      this.username = "";
      localStorage.setItem("username", "");
      localStorage.removeItem("sid");
      localStorage.removeItem("token");
      localStorage.removeItem("exp");
    }

    // 特例，username若为null则重新改写成空串
    if (this.username == null) {
      this.username = "";
    } else if (this.username != "") {
      // 只有username非空才可以连接WebSocket
      this.setupWebSocket();
    }
  },
  data() {
    return {
      websocket: null, // WebSocket对象
      username: "", // 存放JWT中username字段（判断是否登录）
      sid: "", // 存放JWT中WebSocket ID
      msg: "", // 存放要发送的内容
      token: "", // JWT token
      exp: "", // JWT token过期时间
      chatHistory: [
        // 聊天历史
        // {
        //   username: "张三",
        //   msg: "你好",
        // },
        // {
        //   username: "李四",
        //   msg: "早上好",
        // },
      ],
    };
  },
  created() {
    console.log("Vue instance created.");
  },
  beforeDestroy() {
    this.closeWebSocket(); // 在组件销毁前关闭WebSocket连接
  },
  methods: {
    /**
     * 发送信息
     */
    onSend() {
      // 若没登陆，则打开对话框要求用户登录
      if (this.username == "") {
        this.onNotLogin();
        return;
      }

      if (this.msg == null || this.msg == "") {
        this.$message.error("不能发送空串");
        return;
      }

      // 通过WebSocket发送给Server
      this.sendMessage(this.msg);
    },

    /**
     * 弹出对话框要求注册用户
     */
    onNotLogin() {
      this.$prompt("请输入用户名", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
      })
        .then(({ value }) => {
          this.$message({
            type: "success",
            message: "你好，" + value + "，欢迎登陆",
          });
          this.username = value;
          axios.get(`/api/login?username=${this.username}`).then((res) => {
            let jwtToken = res.data.data;
            this.token = jwtToken;
            console.log("解析前JWT: " + jwtToken);
            let strings = jwtToken.split("."); //截取token，获取载体
            let jwtPayload = JSON.parse(
              decodeURIComponent(
                escape(
                  window.atob(strings[1].replace(/-/g, "+").replace(/_/g, "/"))
                )
              )
            );
            console.log(JSON.stringify(jwtPayload));
            this.sid = jwtPayload.sid;
            this.exp = jwtPayload.exp;

            // 存储
            localStorage.setItem("token", jwtToken);
            localStorage.setItem("username", this.username);
            localStorage.setItem("sid", this.sid);
            localStorage.setItem("exp", this.exp);

            // 配置WebSocket连接
            this.setupWebSocket();
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "用户取消输入",
          });
        });
    },

    setupWebSocket() {
      let wsAddress = `ws://192.168.169.1:8080/ws/${this.sid}`;
      console.log("[WebSocket] connecting to " + wsAddress);
      this.websocket = new WebSocket(wsAddress); // 创建WebSocket连接
      console.log("");

      this.websocket.addEventListener("error", function (event) {
        this.username = "";
        localStorage.setItem("username", "");
        console.log("WebSocket 连接失败：" + wsAddress + " " + event.type);
        this.$message.error("WebSocket 连接失败，请重新登录");
      });

      this.websocket.onopen = this.onWebSocketOpen; // WebSocket连接打开时的处理函数
      this.websocket.onmessage = this.onWebSocketMessage; // 收到WebSocket消息时的处理函数
      this.websocket.onclose = this.onWebSocketClose; // WebSocket连接关闭时的处理函数
    },
    closeWebSocket() {
      if (this.websocket) {
        this.websocket.close(); // 关闭WebSocket连接
      }
    },

    /**
     * WebSocket连接成功，准备发送消息
     */
    onWebSocketOpen() {
      console.log("链接成功");
      this.$message.success(
        `【WebSocket客户端】${this.username}与服务器连接成功`
      );
    },

    /**
     * 向WebSocket服务器发送消息
     */
    sendMessage(message) {
      let msg = {
        username: this.username,
        msg: message,
      };

      if (this.websocket && this.websocket.readyState === WebSocket.OPEN) {
        this.websocket.send(JSON.stringify(msg)); // 发送消息到WebSocket服务器
      }
    },

    /**
     * 当收到服务器消息时
     */
    onWebSocketMessage(event) {
      const jsonMsg = event.data;
      // 处理从服务器接收的消息
      console.log("Received message:", jsonMsg);

      // 在这里您可以根据消息的内容执行不同的操作，例如更新界面、触发事件等
      let newRecord = JSON.parse(jsonMsg);
      this.chatHistory.push(newRecord);
    },
  },
};
</script>

<style>
.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 20px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
</style>
